In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)
pd.options.display.float_format = '{:.2f}'.format

In [2]:
sal = pd.read_csv('../data/CSV/EES_2018.csv', sep='\t')
sal

,IDENCCC,ORDENTRA,NUTS1,CNACE,ESTRATO2,CONTROL,MERCADO,REGULACION,SEXO,TIPOPAIS,CNO1,RESPONSA,ESTU,ANOANTI,MESANTI,TIPOJOR,TIPOCON,FIJODISM,FIJODISD,VAL,VAN,PUENTES,JAP,JSP1,JSP2,HEXTRA,DRELABM,SIESPM1,DSIESPM1,SIESPM2,DSIESPM2,SALBASE,EXTRAORM,PHEXTRA,COMSAL,COMSALTT,IRPFMES,COTIZA,BASE,DRELABAM,DRELABAD,SIESPA1,DSIESPA1,SIESPA2,DSIESPA2,SIESPA3,DSIESPA3,SIESPA4,DSIESPA4,RETRINOIN,RETRIIN,GEXTRA,VESPNOIN,VESPIN,ANOS2,FACTOTAL
0,25,1,1,H1,1,2,3,2,1,1,N0,0,3,28,10,2,2,0,0,0,31,0,898,20,0,0,31,6,0,6,0,332.09,0.00,0.00,89.70,0.00,45.22,74.63,1175.30,12,0,6,0,6,0,6,0,6,0,6128.65,0.00,787.35,0.00,0.00,6,70.48
1,25,2,1,H1,1,2,3,2,1,1,N0,0,3,10,2,1,1,0,0,0,31,0,1796,40,0,0,31,6,0,6,0,1328.33,0.00,0.00,40.00,0.00,100.85,86.89,1368.33,12,0,6,0,6,0,6,0,6,0,16509.97,0.00,3127.50,0.00,0.00,6,70.48
2,25,3,1,H1,1,2,3,2,6,1,C0,0,7,4,1,1,1,0,0,0,31,0,1796,40,0,0,31,6,0,6,0,1333.70,0.00,0.00,190.00,0.00,113.21,96.75,1523.71,12,0,6,0,6,0,6,0,6,0,18284.40,0.00,3200.76,0.00,0.00,4,70.48
3,25,4,1,H1,1,2,3,2,1,1,N0,0,3,14,11,1,1,0,0,0,31,0,1796,40,0,0,31,6,0,6,0,1328.33,0.00,0.00,40.00,0.00,71.56,86.89,1368.33,12,0,6,0,6,0,6,0,6,0,16549.97,0.00,3127.77,0.00,0.00,6,70.48
4,25,5,1,H1,1,2,3,2,1,1,N0,0,3,6,4,1,1,0,0,0,31,0,1796,40,0,0,31,6,0,6,0,1319.78,0.00,0.00,40.00,0.00,121.29,86.35,1359.78,12,0,6,0,6,0,6,0,6,0,16554.71,0.00,3072.51,0.00,0.00,4,70.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216721,24676,21,7,P0,3,1,2,2,6,1,H0,0,3,16,0,2,1,0,0,25,0,0,936,18,0,0,31,6,0,6,0,467.59,0.00,0.00,236.84,0.00,14.09,57.80,867.43,12,0,6,0,6,0,6,0,6,0,8264.71,0.00,0.00,0.00,0.00,4,91.62
216722,24676,22,7,P0,3,1,2,2,6,1,F0,0,3,24,0,1,1,0,0,30,0,0,1575,37,30,0,31,6,0,6,0,974.14,0.00,0.00,616.28,0.00,172.72,117.83,1855.49,12,0,6,0,6,0,6,0,6,0,22480.28,0.00,0.00,0.00,0.00,4,91.62
216723,24676,23,7,P0,3,1,2,2,6,1,E0,0,3,21,0,1,1,0,0,30,0,0,1575,37,30,0,31,6,0,6,0,904.57,0.00,0.00,692.18,4.77,185.64,111.38,1753.97,12,0,6,0,6,0,6,0,6,0,20957.13,0.00,0.00,0.00,0.00,4,91.62
216724,24676,24,7,P0,3,1,2,2,6,1,O0,0,2,21,0,1,1,0,0,30,0,0,1575,37,30,0,31,6,0,6,0,904.57,0.00,0.00,536.37,0.00,140.64,106.75,1681.10,12,0,6,0,6,0,6,0,6,0,20216.56,0.00,0.00,0.00,0.00,4,91.62
216725,24676,25,7,P0,3,1,2,2,6,1,H0,0,3,8,0,2,1,0,0,25,0,0,936,18,0,0,31,6,0,6,0,467.59,0.00,0.00,210.31,0.00,0.00,50.22,790.88,12,0,6,0,6,0,6,0,6,0,7913.89,0.00,0.00,0.00,0.00,6,91.62

In [3]:
sal.groupby('SEXO').agg({'RETRINOIN':'mean'})

      RETRINOIN
SEXO
1      29370.24
6      22035.87

In [4]:
sal.sort_values(by='RETRINOIN')
sal

,IDENCCC,ORDENTRA,NUTS1,CNACE,ESTRATO2,CONTROL,MERCADO,REGULACION,SEXO,TIPOPAIS,CNO1,RESPONSA,ESTU,ANOANTI,MESANTI,TIPOJOR,TIPOCON,FIJODISM,FIJODISD,VAL,VAN,PUENTES,JAP,JSP1,JSP2,HEXTRA,DRELABM,SIESPM1,DSIESPM1,SIESPM2,DSIESPM2,SALBASE,EXTRAORM,PHEXTRA,COMSAL,COMSALTT,IRPFMES,COTIZA,BASE,DRELABAM,DRELABAD,SIESPA1,DSIESPA1,SIESPA2,DSIESPA2,SIESPA3,DSIESPA3,SIESPA4,DSIESPA4,RETRINOIN,RETRIIN,GEXTRA,VESPNOIN,VESPIN,ANOS2,FACTOTAL
0,25,1,1,H1,1,2,3,2,1,1,N0,0,3,28,10,2,2,0,0,0,31,0,898,20,0,0,31,6,0,6,0,332.09,0.00,0.00,89.70,0.00,45.22,74.63,1175.30,12,0,6,0,6,0,6,0,6,0,6128.65,0.00,787.35,0.00,0.00,6,70.48
1,25,2,1,H1,1,2,3,2,1,1,N0,0,3,10,2,1,1,0,0,0,31,0,1796,40,0,0,31,6,0,6,0,1328.33,0.00,0.00,40.00,0.00,100.85,86.89,1368.33,12,0,6,0,6,0,6,0,6,0,16509.97,0.00,3127.50,0.00,0.00,6,70.48
2,25,3,1,H1,1,2,3,2,6,1,C0,0,7,4,1,1,1,0,0,0,31,0,1796,40,0,0,31,6,0,6,0,1333.70,0.00,0.00,190.00,0.00,113.21,96.75,1523.71,12,0,6,0,6,0,6,0,6,0,18284.40,0.00,3200.76,0.00,0.00,4,70.48
3,25,4,1,H1,1,2,3,2,1,1,N0,0,3,14,11,1,1,0,0,0,31,0,1796,40,0,0,31,6,0,6,0,1328.33,0.00,0.00,40.00,0.00,71.56,86.89,1368.33,12,0,6,0,6,0,6,0,6,0,16549.97,0.00,3127.77,0.00,0.00,6,70.48
4,25,5,1,H1,1,2,3,2,1,1,N0,0,3,6,4,1,1,0,0,0,31,0,1796,40,0,0,31,6,0,6,0,1319.78,0.00,0.00,40.00,0.00,121.29,86.35,1359.78,12,0,6,0,6,0,6,0,6,0,16554.71,0.00,3072.51,0.00,0.00,4,70.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216721,24676,21,7,P0,3,1,2,2,6,1,H0,0,3,16,0,2,1,0,0,25,0,0,936,18,0,0,31,6,0,6,0,467.59,0.00,0.00,236.84,0.00,14.09,57.80,867.43,12,0,6,0,6,0,6,0,6,0,8264.71,0.00,0.00,0.00,0.00,4,91.62
216722,24676,22,7,P0,3,1,2,2,6,1,F0,0,3,24,0,1,1,0,0,30,0,0,1575,37,30,0,31,6,0,6,0,974.14,0.00,0.00,616.28,0.00,172.72,117.83,1855.49,12,0,6,0,6,0,6,0,6,0,22480.28,0.00,0.00,0.00,0.00,4,91.62
216723,24676,23,7,P0,3,1,2,2,6,1,E0,0,3,21,0,1,1,0,0,30,0,0,1575,37,30,0,31,6,0,6,0,904.57,0.00,0.00,692.18,4.77,185.64,111.38,1753.97,12,0,6,0,6,0,6,0,6,0,20957.13,0.00,0.00,0.00,0.00,4,91.62
216724,24676,24,7,P0,3,1,2,2,6,1,O0,0,2,21,0,1,1,0,0,30,0,0,1575,37,30,0,31,6,0,6,0,904.57,0.00,0.00,536.37,0.00,140.64,106.75,1681.10,12,0,6,0,6,0,6,0,6,0,20216.56,0.00,0.00,0.00,0.00,4,91.62
216725,24676,25,7,P0,3,1,2,2,6,1,H0,0,3,8,0,2,1,0,0,25,0,0,936,18,0,0,31,6,0,6,0,467.59,0.00,0.00,210.31,0.00,0.00,50.22,790.88,12,0,6,0,6,0,6,0,6,0,7913.89,0.00,0.00,0.00,0.00,6,91.62

In [5]:
sal.groupby('CONTROL').agg({'RETRINOIN':'mean'})

         RETRINOIN
CONTROL
1         31866.07
2         25068.30

In [6]:
sal.columns

Index(['IDENCCC', 'ORDENTRA', 'NUTS1', 'CNACE', 'ESTRATO2', 'CONTROL',
       'MERCADO', 'REGULACION', 'SEXO', 'TIPOPAIS', 'CNO1', 'RESPONSA', 'ESTU',
       'ANOANTI', 'MESANTI', 'TIPOJOR', 'TIPOCON', 'FIJODISM', 'FIJODISD',
       'VAL', 'VAN', 'PUENTES', 'JAP', 'JSP1', 'JSP2', 'HEXTRA', 'DRELABM',
       'SIESPM1', 'DSIESPM1', 'SIESPM2', 'DSIESPM2', 'SALBASE', 'EXTRAORM',
       'PHEXTRA', 'COMSAL', 'COMSALTT', 'IRPFMES', 'COTIZA', 'BASE',
       'DRELABAM', 'DRELABAD', 'SIESPA1', 'DSIESPA1', 'SIESPA2', 'DSIESPA2',
       'SIESPA3', 'DSIESPA3', 'SIESPA4', 'DSIESPA4', 'RETRINOIN', 'RETRIIN',
       'GEXTRA', 'VESPNOIN', 'VESPIN', 'ANOS2', 'FACTOTAL'],
      dtype='object')

In [7]:
sal['CNACE'].unique()

array(['H1', 'N0', 'C4', 'M0', 'O0', 'S0', 'B0', 'C1', 'I0', 'F0', 'C6',
       'C5', 'C8', 'K0', 'C7', 'L0', 'C3', 'Q0', 'J0', 'C2', 'G1', 'R0',
       'E0', 'G2', 'H2', 'P0', 'D0'], dtype=object)

In [8]:
len(sal['CNACE'].unique())

27

In [9]:
sal['SEXO'].value_counts()

SEXO
1    122558
6     94168
Name: count, dtype: int64

In [10]:
salarios = sal[['RETRINOIN','ESTU','SEXO','CNACE']]

In [11]:
salarios.sort_values(by='RETRINOIN', inplace=True)
salarios

C:\Users\Gonzalo\AppData\Local\Temp\ipykernel_35984\4287919880.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salarios.sort_values(by='RETRINOIN', inplace=True)

        RETRINOIN  ESTU  SEXO CNACE
127085       0.00     3     6    N0
20324        0.00     2     1    C6
149382       0.00     2     6    Q0
30905        0.00     4     1    Q0
58895        0.00     3     1    H2
...           ...   ...   ...   ...
81200  2192967.20     7     1    F0
177987 3903390.45     7     1    R0
177988 4021902.63     7     1    R0
177990 4153877.05     2     1    R0
177985 4225998.36     7     1    R0

[216726 rows x 4 columns]

In [12]:
salarios = salarios[salarios['RETRINOIN']!=0]

In [13]:
ccc = salarios.groupby('CNACE').agg({'RETRINOIN':'mean'}).reset_index()

In [14]:
ddd = salarios.groupby('CNACE').agg({'RETRINOIN':'median'}).reset_index()

In [15]:
ccc.rename(columns={'RETRINOIN':'Media'}, inplace=True)

In [16]:
ddd.rename(columns={'RETRINOIN':'Mediana'}, inplace=True)

In [17]:
ddd = ddd.drop(columns='CNACE')

In [18]:
ccc = pd.concat((ccc, ddd),axis=1)
ccc

   CNACE    Media  Mediana
0     B0 36564.12 27558.07
1     C1 23432.88 18795.18
2     C2 26517.87 21768.81
3     C3 23860.52 21029.42
4     C4 35940.25 29030.61
5     C5 28031.79 25015.68
6     C6 27271.94 24594.10
7     C7 30551.28 26182.32
8     C8 27608.25 24081.30
9     D0 56997.54 52919.62
10    E0 25277.35 23175.63
11    F0 22685.35 19362.80
12    G1 28383.19 21312.51
13    G2 17613.64 15605.30
14    H1 29034.63 24152.70
15    H2 25893.42 21035.91
16    I0 14394.20 13251.86
17    J0 33010.95 26499.96
18    K0 44632.48 39312.32
19    L0 27596.46 20274.03
20    M0 28186.10 21999.30
21    N0 15557.70 13613.00
22    O0 29220.70 27929.57
23    P0 25546.01 27287.18
24    Q0 25994.73 20991.12
25    R0 25556.37 17253.38
26    S0 18595.85 15826.38

In [20]:
rows_C = ccc[ccc['CNACE'].str.match('C[1-8]')]
mean_C = rows_C['Media'].mean()
median_C = rows_C['Mediana'].median()

ccc.loc[len(ccc)] = ['C0', mean_C, median_C]

In [21]:
rows_G = ccc[ccc['CNACE'].str.match('G[1-2]')]
mean_G = rows_G['Media'].mean()
median_G = rows_G['Mediana'].median()

ccc.loc[len(ccc)] = ['G0', mean_G, median_G]

In [22]:
rows_H = ccc[ccc['CNACE'].str.match('H[1-2]')]
mean_H = rows_H['Media'].mean()
median_H = rows_H['Mediana'].median()

ccc.loc[len(ccc)] = ['H0', mean_H, median_H]

In [23]:
ccc

   CNACE    Media  Mediana
0     B0 36564.12 27558.07
1     C1 23432.88 18795.18
2     C2 26517.87 21768.81
3     C3 23860.52 21029.42
4     C4 35940.25 29030.61
5     C5 28031.79 25015.68
6     C6 27271.94 24594.10
7     C7 30551.28 26182.32
8     C8 27608.25 24081.30
9     D0 56997.54 52919.62
10    E0 25277.35 23175.63
11    F0 22685.35 19362.80
12    G1 28383.19 21312.51
13    G2 17613.64 15605.30
14    H1 29034.63 24152.70
15    H2 25893.42 21035.91
16    I0 14394.20 13251.86
17    J0 33010.95 26499.96
18    K0 44632.48 39312.32
19    L0 27596.46 20274.03
20    M0 28186.10 21999.30
21    N0 15557.70 13613.00
22    O0 29220.70 27929.57
23    P0 25546.01 27287.18
24    Q0 25994.73 20991.12
25    R0 25556.37 17253.38
26    S0 18595.85 15826.38
27    C0 27901.85 24337.70
28    G0 22998.42 18458.91
29    H0 27464.03 22594.31

In [24]:
ccc.drop([1, 2, 3, 4, 5, 6, 7, 8, 12, 13, 14, 15], axis=0, inplace=True)
ccc

   CNACE    Media  Mediana
0     B0 36564.12 27558.07
9     D0 56997.54 52919.62
10    E0 25277.35 23175.63
11    F0 22685.35 19362.80
16    I0 14394.20 13251.86
17    J0 33010.95 26499.96
18    K0 44632.48 39312.32
19    L0 27596.46 20274.03
20    M0 28186.10 21999.30
21    N0 15557.70 13613.00
22    O0 29220.70 27929.57
23    P0 25546.01 27287.18
24    Q0 25994.73 20991.12
25    R0 25556.37 17253.38
26    S0 18595.85 15826.38
27    C0 27901.85 24337.70
28    G0 22998.42 18458.91
29    H0 27464.03 22594.31

In [25]:
ccc.reset_index(drop=True)

   CNACE    Media  Mediana
0     B0 36564.12 27558.07
1     D0 56997.54 52919.62
2     E0 25277.35 23175.63
3     F0 22685.35 19362.80
4     I0 14394.20 13251.86
5     J0 33010.95 26499.96
6     K0 44632.48 39312.32
7     L0 27596.46 20274.03
8     M0 28186.10 21999.30
9     N0 15557.70 13613.00
10    O0 29220.70 27929.57
11    P0 25546.01 27287.18
12    Q0 25994.73 20991.12
13    R0 25556.37 17253.38
14    S0 18595.85 15826.38
15    C0 27901.85 24337.70
16    G0 22998.42 18458.91
17    H0 27464.03 22594.31

In [41]:
ccc = ccc.sort_values(by='Media', ascending=False).reset_index(drop=True)

In [42]:
Grupo = ccc['CNACE']

In [29]:
Grupo = sorted(Grupo)

In [50]:
ccc

   CNACE    Media  Mediana                      CNAE
0     D0 56997.54 52919.62    Suministro luz, gas...
1     K0 44632.48 39312.32          Act. financieras
2     B0 36564.12 27558.07          Ind. extractivas
3     J0 33010.95 26499.96    Información y comunic.
4     O0 29220.70 27929.57              Adm. pública
5     M0 28186.10 21999.30    Científicas y técnicas
6     C0 27901.85 24337.70   Industria manufacturera
7     L0 27596.46 20274.03         Act inmobiliarias
8     H0 27464.03 22594.31                Transporte
9     Q0 25994.73 20991.12     Sanitarias y sociales
10    R0 25556.37 17253.38           Act. artísticas
11    P0 25546.01 27287.18                 Educación
12    E0 25277.35 23175.63  Suministro agua, saneam.
13    G0 22998.42 18458.91                  Comercio
14    F0 22685.35 19362.80              Construcción
15    S0 18595.85 15826.38           Otros servicios
16    N0 15557.70 13613.00           Administrativas
17    I0 14394.20 13251.86                Hostelería

In [43]:
Grupo

0     D0
1     K0
2     B0
3     J0
4     O0
5     M0
6     C0
7     L0
8     H0
9     Q0
10    R0
11    P0
12    E0
13    G0
14    F0
15    S0
16    N0
17    I0
Name: CNACE, dtype: object

In [48]:
lst = ['Suministro luz, gas...','Act. financieras','Ind. extractivas'
      ,'Información y comunic.','Adm. pública','Científicas y técnicas'
      ,'Industria manufacturera','Act inmobiliarias','Transporte'
      ,'Sanitarias y sociales','Act. artísticas','Educación'
      ,'Suministro agua, saneam.','Comercio','Construcción'
      ,'Otros servicios','Administrativas','Hostelería']

In [49]:
ccc['CNAE'] = lst

In [ ]:
.

In [ ]:
sal.groupby('SEXO').agg({'RETRINOIN':'median'})

In [ ]:
sal.groupby(['SEXO','ESTU']).agg({'RETRINOIN':'mean'})

In [ ]:
sal1 = salarios[salarios['RETRINOIN']>1000]
sal2 = salarios[salarios['RETRINOIN']>5000]

In [ ]:
sal2.groupby('SEXO').agg({'RETRINOIN':'mean'})

In [ ]:
salarios[salarios['RETRINOIN']<10000]

In [ ]:
#salarios = salarios[salarios['RETRINOIN']<200000]

In [ ]:
salarios['RETRINOIN'].describe()

In [ ]:
salarios['RETRINOIN'].tail(60)

In [ ]:
intervalos = [x for x in range(0, 200000, 200)]

salarios['rango'] = pd.cut(salarios['RETRINOIN'], bins=intervalos)

print(salarios['rango'])

In [ ]:
salarios

In [ ]:
intervalo = [x for x in range(0, 4226000, 1000)]

def encontrar_cercano(valor):
    return min(intervalo, key=lambda x:abs(x-valor))

salarios['rango_cercano'] = salarios['RETRINOIN'].apply(lambda x: encontrar_cercano(x))

salarios

In [ ]:
intervalo = [x for x in range(0, 4226000, 500)]

def encontrar_cercano(valor):
    return min(intervalo, key=lambda x:abs(x-valor))

salarios['rango_cercano_500'] = salarios['RETRINOIN'].apply(lambda x: encontrar_cercano(x))

salarios

In [ ]:
salarios

In [ ]:
salarios.groupby('ESTU')['RETRINOIN'].mean()

In [ ]:
salarios['RETRINOIN'].describe()

In [ ]:
prueba = salarios[salarios['RETRINOIN']<200000]
prueba['RETRINOIN'].describe()

In [ ]:
salarios.info()

In [ ]:
Estudios = {1:'1 Sin estudios',
           2:'2 Primaria',
           3:'3 Secundaria',
           4:'4 Bachillerato',
           5:'5 FP',
           6:'6 Diplomatura',
           7:'7 Licen. + Doctorado',}

In [ ]:
salarios['Nivel_estudios'] = salarios['ESTU'].map(Estudios)

In [ ]:
.

In [ ]:
salarios.to_csv('SALARIOS_TODOS.csv')
sal1.to_csv('SALARIOS_1000.csv')
sal2.to_csv('SALARIOS_5000.csv')

In [51]:
ccc.to_csv('SALARIOS_ACTIVIDAD.csv', index=False)