In [11]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)
pd.options.display.float_format = '{:.2f}'.format

In [6]:
df = pd.read_csv('../data/paro.csv', delimiter=';')
df

,Sexo,Comunidades y Ciudades Autónomas,Edad,Periodo,Total
0,Ambos sexos,Total Nacional,Total,2023T4,"11,76"
1,Ambos sexos,Total Nacional,Total,2023T3,"11,84"
2,Ambos sexos,Total Nacional,Total,2023T2,"11,60"
3,Ambos sexos,Total Nacional,Total,2023T1,"13,26"
4,Ambos sexos,Total Nacional,Total,2022T4,"12,87"
...,...,...,...,...,...
36955,Mujeres,19 Melilla,55 y más años,2003T1,"0,00"
36956,Mujeres,19 Melilla,55 y más años,2002T4,"0,00"
36957,Mujeres,19 Melilla,55 y más años,2002T3,"0,00"
36958,Mujeres,19 Melilla,55 y más años,2002T2,"0,00"
36959,Mujeres,19 Melilla,55 y más años,2002T1,"11,32"

In [15]:
df1 = pd.read_csv('../data/salario_medio_deciles_sexo_comunidad.csv', delimiter=';')
df1

,Sexo,Comunidades autónomas,Medidas y percentiles,Periodo,Total
0,Ambos sexos,Total Nacional,Media,2021,"25.896,82"
1,Ambos sexos,Total Nacional,Media,2020,"25.165,51"
2,Ambos sexos,Total Nacional,Media,2019,"24.395,98"
3,Ambos sexos,Total Nacional,Media,2018,"24.009,12"
4,Ambos sexos,Total Nacional,Media,2017,"23.646,5"
...,...,...,...,...,...
4531,Hombres,"Rioja, La",Percentil 90,2012,"39.861,33"
4532,Hombres,"Rioja, La",Percentil 90,2011,"38.106,71"
4533,Hombres,"Rioja, La",Percentil 90,2010,"39.760,46"
4534,Hombres,"Rioja, La",Percentil 90,2009,"37.994,4"
4535,Hombres,"Rioja, La",Percentil 90,2008,"37.080,55"

In [14]:
df1.Total.describe()

count     42240
unique     6129
top         0,3
freq       2350
Name: Total, dtype: object

In [ ]:
df2 = pd.read_csv('../data/salario_medio_deciles_sexo_comunidad.csv', delimiter=';')
df2

In [12]:
sal = pd.read_csv('../data/CSV/EES_2018.csv', sep='\t')
sal

,IDENCCC,ORDENTRA,NUTS1,CNACE,ESTRATO2,CONTROL,MERCADO,REGULACION,SEXO,TIPOPAIS,CNO1,RESPONSA,ESTU,ANOANTI,MESANTI,TIPOJOR,TIPOCON,FIJODISM,FIJODISD,VAL,VAN,PUENTES,JAP,JSP1,JSP2,HEXTRA,DRELABM,SIESPM1,DSIESPM1,SIESPM2,DSIESPM2,SALBASE,EXTRAORM,PHEXTRA,COMSAL,COMSALTT,IRPFMES,COTIZA,BASE,DRELABAM,DRELABAD,SIESPA1,DSIESPA1,SIESPA2,DSIESPA2,SIESPA3,DSIESPA3,SIESPA4,DSIESPA4,RETRINOIN,RETRIIN,GEXTRA,VESPNOIN,VESPIN,ANOS2,FACTOTAL
0,25,1,1,H1,1,2,3,2,1,1,N0,0,3,28,10,2,2,0,0,0,31,0,898,20,0,0,31,6,0,6,0,332.09,0.00,0.00,89.70,0.00,45.22,74.63,1175.30,12,0,6,0,6,0,6,0,6,0,6128.65,0.00,787.35,0.00,0.00,6,70.48
1,25,2,1,H1,1,2,3,2,1,1,N0,0,3,10,2,1,1,0,0,0,31,0,1796,40,0,0,31,6,0,6,0,1328.33,0.00,0.00,40.00,0.00,100.85,86.89,1368.33,12,0,6,0,6,0,6,0,6,0,16509.97,0.00,3127.50,0.00,0.00,6,70.48
2,25,3,1,H1,1,2,3,2,6,1,C0,0,7,4,1,1,1,0,0,0,31,0,1796,40,0,0,31,6,0,6,0,1333.70,0.00,0.00,190.00,0.00,113.21,96.75,1523.71,12,0,6,0,6,0,6,0,6,0,18284.40,0.00,3200.76,0.00,0.00,4,70.48
3,25,4,1,H1,1,2,3,2,1,1,N0,0,3,14,11,1,1,0,0,0,31,0,1796,40,0,0,31,6,0,6,0,1328.33,0.00,0.00,40.00,0.00,71.56,86.89,1368.33,12,0,6,0,6,0,6,0,6,0,16549.97,0.00,3127.77,0.00,0.00,6,70.48
4,25,5,1,H1,1,2,3,2,1,1,N0,0,3,6,4,1,1,0,0,0,31,0,1796,40,0,0,31,6,0,6,0,1319.78,0.00,0.00,40.00,0.00,121.29,86.35,1359.78,12,0,6,0,6,0,6,0,6,0,16554.71,0.00,3072.51,0.00,0.00,4,70.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216721,24676,21,7,P0,3,1,2,2,6,1,H0,0,3,16,0,2,1,0,0,25,0,0,936,18,0,0,31,6,0,6,0,467.59,0.00,0.00,236.84,0.00,14.09,57.80,867.43,12,0,6,0,6,0,6,0,6,0,8264.71,0.00,0.00,0.00,0.00,4,91.62
216722,24676,22,7,P0,3,1,2,2,6,1,F0,0,3,24,0,1,1,0,0,30,0,0,1575,37,30,0,31,6,0,6,0,974.14,0.00,0.00,616.28,0.00,172.72,117.83,1855.49,12,0,6,0,6,0,6,0,6,0,22480.28,0.00,0.00,0.00,0.00,4,91.62
216723,24676,23,7,P0,3,1,2,2,6,1,E0,0,3,21,0,1,1,0,0,30,0,0,1575,37,30,0,31,6,0,6,0,904.57,0.00,0.00,692.18,4.77,185.64,111.38,1753.97,12,0,6,0,6,0,6,0,6,0,20957.13,0.00,0.00,0.00,0.00,4,91.62
216724,24676,24,7,P0,3,1,2,2,6,1,O0,0,2,21,0,1,1,0,0,30,0,0,1575,37,30,0,31,6,0,6,0,904.57,0.00,0.00,536.37,0.00,140.64,106.75,1681.10,12,0,6,0,6,0,6,0,6,0,20216.56,0.00,0.00,0.00,0.00,4,91.62
216725,24676,25,7,P0,3,1,2,2,6,1,H0,0,3,8,0,2,1,0,0,25,0,0,936,18,0,0,31,6,0,6,0,467.59,0.00,0.00,210.31,0.00,0.00,50.22,790.88,12,0,6,0,6,0,6,0,6,0,7913.89,0.00,0.00,0.00,0.00,6,91.62

In [21]:
sal.sort_values(by='RETRINOIN')
sal

,IDENCCC,ORDENTRA,NUTS1,CNACE,ESTRATO2,CONTROL,MERCADO,REGULACION,SEXO,TIPOPAIS,CNO1,RESPONSA,ESTU,ANOANTI,MESANTI,TIPOJOR,TIPOCON,FIJODISM,FIJODISD,VAL,VAN,PUENTES,JAP,JSP1,JSP2,HEXTRA,DRELABM,SIESPM1,DSIESPM1,SIESPM2,DSIESPM2,SALBASE,EXTRAORM,PHEXTRA,COMSAL,COMSALTT,IRPFMES,COTIZA,BASE,DRELABAM,DRELABAD,SIESPA1,DSIESPA1,SIESPA2,DSIESPA2,SIESPA3,DSIESPA3,SIESPA4,DSIESPA4,RETRINOIN,RETRIIN,GEXTRA,VESPNOIN,VESPIN,ANOS2,FACTOTAL
0,25,1,1,H1,1,2,3,2,1,1,N0,0,3,28,10,2,2,0,0,0,31,0,898,20,0,0,31,6,0,6,0,332.09,0.00,0.00,89.70,0.00,45.22,74.63,1175.30,12,0,6,0,6,0,6,0,6,0,6128.65,0.00,787.35,0.00,0.00,6,70.48
1,25,2,1,H1,1,2,3,2,1,1,N0,0,3,10,2,1,1,0,0,0,31,0,1796,40,0,0,31,6,0,6,0,1328.33,0.00,0.00,40.00,0.00,100.85,86.89,1368.33,12,0,6,0,6,0,6,0,6,0,16509.97,0.00,3127.50,0.00,0.00,6,70.48
2,25,3,1,H1,1,2,3,2,6,1,C0,0,7,4,1,1,1,0,0,0,31,0,1796,40,0,0,31,6,0,6,0,1333.70,0.00,0.00,190.00,0.00,113.21,96.75,1523.71,12,0,6,0,6,0,6,0,6,0,18284.40,0.00,3200.76,0.00,0.00,4,70.48
3,25,4,1,H1,1,2,3,2,1,1,N0,0,3,14,11,1,1,0,0,0,31,0,1796,40,0,0,31,6,0,6,0,1328.33,0.00,0.00,40.00,0.00,71.56,86.89,1368.33,12,0,6,0,6,0,6,0,6,0,16549.97,0.00,3127.77,0.00,0.00,6,70.48
4,25,5,1,H1,1,2,3,2,1,1,N0,0,3,6,4,1,1,0,0,0,31,0,1796,40,0,0,31,6,0,6,0,1319.78,0.00,0.00,40.00,0.00,121.29,86.35,1359.78,12,0,6,0,6,0,6,0,6,0,16554.71,0.00,3072.51,0.00,0.00,4,70.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216721,24676,21,7,P0,3,1,2,2,6,1,H0,0,3,16,0,2,1,0,0,25,0,0,936,18,0,0,31,6,0,6,0,467.59,0.00,0.00,236.84,0.00,14.09,57.80,867.43,12,0,6,0,6,0,6,0,6,0,8264.71,0.00,0.00,0.00,0.00,4,91.62
216722,24676,22,7,P0,3,1,2,2,6,1,F0,0,3,24,0,1,1,0,0,30,0,0,1575,37,30,0,31,6,0,6,0,974.14,0.00,0.00,616.28,0.00,172.72,117.83,1855.49,12,0,6,0,6,0,6,0,6,0,22480.28,0.00,0.00,0.00,0.00,4,91.62
216723,24676,23,7,P0,3,1,2,2,6,1,E0,0,3,21,0,1,1,0,0,30,0,0,1575,37,30,0,31,6,0,6,0,904.57,0.00,0.00,692.18,4.77,185.64,111.38,1753.97,12,0,6,0,6,0,6,0,6,0,20957.13,0.00,0.00,0.00,0.00,4,91.62
216724,24676,24,7,P0,3,1,2,2,6,1,O0,0,2,21,0,1,1,0,0,30,0,0,1575,37,30,0,31,6,0,6,0,904.57,0.00,0.00,536.37,0.00,140.64,106.75,1681.10,12,0,6,0,6,0,6,0,6,0,20216.56,0.00,0.00,0.00,0.00,4,91.62
216725,24676,25,7,P0,3,1,2,2,6,1,H0,0,3,8,0,2,1,0,0,25,0,0,936,18,0,0,31,6,0,6,0,467.59,0.00,0.00,210.31,0.00,0.00,50.22,790.88,12,0,6,0,6,0,6,0,6,0,7913.89,0.00,0.00,0.00,0.00,6,91.62

In [18]:
salarios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216726 entries, 0 to 216725
Data columns (total 1 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   RETRINOIN  216726 non-null  float64
dtypes: float64(1)
memory usage: 1.7 MB

In [23]:
salarios = sal[['RETRINOIN']]

In [25]:
salarios.sort_values(by='RETRINOIN', inplace=True)
salarios

C:\Users\Gonzalo\AppData\Local\Temp\ipykernel_32176\4287919880.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salarios.sort_values(by='RETRINOIN', inplace=True)

        RETRINOIN
127085       0.00
20324        0.00
149382       0.00
30905        0.00
58895        0.00
...           ...
81200  2192967.20
177987 3903390.45
177988 4021902.63
177990 4153877.05
177985 4225998.36

[216726 rows x 1 columns]

In [36]:
sal1 = salarios[salarios['RETRINOIN']>1000]
sal2 = salarios[salarios['RETRINOIN']>5000]

In [34]:
salarios[salarios['RETRINOIN']<10000]

        RETRINOIN
127085       0.00
20324        0.00
149382       0.00
30905        0.00
58895        0.00
...           ...
79632     9999.92
142652    9999.92
74225     9999.96
66010     9999.99
155249    9999.99

[36040 rows x 1 columns]

In [22]:
salarios['RETRINOIN'].describe()

count    216726.00
mean      26183.44
std       32413.24
min           0.00
25%       13320.08
50%       21098.25
75%       32364.61
max     4225998.36
Name: RETRINOIN, dtype: float64

In [37]:
salarios.to_csv('SALARIOS_TODOS.csv',index=False)
sal1.to_csv('SALARIOS_1000.csv',index=False)
sal2.to_csv('SALARIOS_5000.csv',index=False)